$min_color: #9cbe12;
$color_one: #f2b50d;
$color_two: #105526;
$color_three: #0e5524;
$color_opacity: rgba(16, 85, 38, 0.472);
// $nav_height: 140px;
// $content_height: 70px;
$nav_height: 120px;
$content_height: 60px;
